<html>
    <head>
        <title>First blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">First Blog</a></h1>
        </div>

        <div>
            <p>published: 24.04.2019, 20.08</p>
            <h2><a href="">My first post</a></h2>
            <p>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
        </div>

        <div>
            <p>published: 24.04.2019, 20.08</p>
            <h2><a href="">My second post</a></h2>
            <p>bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb</p>
        </div>
    </body>
</html>
